<?xml version="1.0"?>
<config>
    <modules>
        <DigitalPianism_NoCallHome>
            <version>0.0.6</version>
        </DigitalPianism_NoCallHome>
    </modules>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <!-- AW -->
                    <awall_exts>
                        <type>disabled</type>
                    </awall_exts>
                    <awall_upds>
                        <type>disabled</type>
                    </awall_upds>
                    <!-- Amasty -->
                    <ambase_upds>
                        <type>disabled</type>
                    </ambase_upds>
                    <!-- Aitoc -->
                    <aitoc_notfications>
                        <type>disabled</type>
                    </aitoc_notfications>
                    <!-- Itoris -->
                    <itoris_installer_notifications>
                        <type>disabled</type>
                    </itoris_installer_notifications>
                    <!-- Magestore -->
                    <magestore_magenotification_observer>
                        <type>disabled</type>
                    </magestore_magenotification_observer>
                    <!-- Mirasvit -->
                    <mstcore_lc>
                        <type>disabled</type>
                    </mstcore_lc>
                    <!-- Unirgy GiftCert -->
                    <ugiftcert>
                        <type>disabled</type>
                    </ugiftcert>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_adminhtml_dashboard_index>
                <observers>
                    <!-- Ebizmarts MageMonkey -->
                    <monkey_up>
                        <type>disabled</type>
                    </monkey_up>
                </observers>
            </controller_action_predispatch_adminhtml_dashboard_index>
            <core_block_abstract_to_html_after>
                <observers>
                    <!-- Mirasvit -->
                    <mstcore_lc>
                        <type>disabled</type>
                    </mstcore_lc>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
</config>